/*@font-face {
    font-family: 'Gotham';
    src: url('fonts/GothamBook.ttf') format('truetype'),
    url('fonts/GothamBold.ttf') format('truetype'),
    url('fonts/GothamMedium.ttf') format('truetype');
}*/

* {
    font-family: 'Gotham';
}

body, html {
    height: 100%;
}

p, table {
    font-family: 'Gotham Light', sans-serif; 
}

table thead {
    font-family: 'Gotham';
    font-weight: 500;
}

h1 {
    font-family: 'Gotham', sans-serif;
    font-weight: 500;
    text-align: center;
}

h2, h3 {
    font-family: 'Varela Round', sans-serif;
    font-weight: 400;
}

.box-row {
    margin-bottom: 0;
}

/* .box-row .col {
    padding: 0 1rem;
} */

.box-row .col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    min-height: 200px;
} 

.box-row h5 {
    text-align: center;
    color: white;
}

.box-row span {
    font-size: 2em;
}

.box-row li {
    list-style-type: circle !important;
    list-style-position: inside;
}

.btn, .btn-large {
    background-color: rgb(0,31,63);
    border-radius: 10px;
}

.btn:hover, .btn-large:hover {
    background-color: rgb(0,51,102);
}

.dark-blue {
    background-color: rgb(0,12,24);
}

.darker-blue {
    background-color: rgb(0,2,4);
}

.dark-gray {
    background-color: #0B0A0A;
}

.prizes .col {
    justify-content: flex-start;
}

.section-btn {
    display: block;
    margin: 0 auto;
    width: 145px;
}

.section-header {
    color: white;
    text-align: center;
}

@media only screen and (min-width: 993px) {
    .thinner {
        width: 50%;
    }
}

/****** index.html Header Styles ******/

.header-btn {
    margin-top: 1.25em;
    /* width: 200px; */
    width: 100%;
}

.header-dates{
    background-color: #0B0A0A;
    border-radius: 10px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-items {
    margin-top: 15%;
}

.header-other-text {
    color: white;
    font-size: 1.25em;
    font-weight: 500;
    text-align: center;
}

.header-right{
    margin-right: 5%;
    width: 25%;
    min-width: 200px;
}

.header-title-text-index {
    text-align: left;
    color: white;
    font-size: 5em;
    /* letter-spacing: 0.04em; */
    line-height: 1.25em;
    margin-left: 5%;
}

/****** End index.html Header Styles ******/

/* Styles for all image headers */
.mega-image {
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
}

.header-title-text {
    color: white;
    font-size: 5em;
    line-height: 1.25em;
}

.page-title {
    padding: 2rem 0;
    color: white;
    text-align: center;
    font-size: 3.5rem;
    margin: auto;
    width: 90%;
}

/* Specific styles for each image header */

.mega-image-index {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/circuit_board.jpg");
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
}

.mega-image-about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../img/computer.jpg");
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 700px)  {
    /* Change header format to a centered column */
    .header-right{
        margin-right: 0;
    }
    
    .header-title-text-index {
        margin-left: 0;
        font-size: 4.5em;
    }
    
    .mega-image-index {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .header-title-text {
        font-size: 4.5em;
    }
}

/****** Navbar Styles ******/

.nav, .sidenav,.dropdown-content {
    background-color: rgb(0,12,24);
}

.nav-logo {
    margin-left: 10px;
}

.sidenav .nav-logo {
    font-size: 1.5em;
    text-align: center;
}

.sidenav li a {
    color: white;
}

.dropdown-content {
    min-width: 20%;
}

.dropdown-content li a {
    color: white;
}

/*Styles for sidenav dividers*/
.sidenav .divider {
    color: lightgray;
    width: 90%;
    margin-left: 5%
}

.subheader {
    color:gray !important;
}
/****** End Navbar Styles ******/

/****** Footer Styles ******/
footer {
    background-color: rgb(0,12,24);
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
}

.footer-section {
    margin-left: 5%;
    margin-right: 5%;
}

.footer-section h5, .footer-section h6 {
    margin-top: 0.5rem;
}

.footer-links {
    display: flex;
    /* column-gap: 35px; */
    column-gap: 10%;
}

.footer-links ul {
    margin-top: 0;
}

/****** End Footer Styles ******/

.parallax-container {
    height: 90%;
    position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

/* .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding: 14px 16px;
}

.nav a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    vertical-align: center;
    padding: 14px 35px;
} */